* {
    padding: 0;
    margin: 0;
}

:root {
    /* Dark mode default */
    --bg-color: #0d1117;
    --text-color: #edf7f6;
    --secondary-color: #41444c;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mode */
        --bg-color: #0d1117;
        --text-color: #edf7f6;
        --secondary-color: #41444c;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        /* Light mode */
        --bg-color: #f7f7f7;
        --text-color: #0d1117;
        --secondary-color: #41444c;
    }
}

body {
    background-color: var(--bg-color);
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr; */
    }
}

.grid-text_area {
    border: 1px solid var(--secondary-color);
    padding: 1em;
    color: var(--text-color);
    font-family: "Courier New", Courier, monospace;
    overflow-y: auto;
    min-height: 25vh;
}

/* Scrollbar styles */

body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bg-color);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}

body::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(73, 73, 73)'><polygon points='0,0 100,0 50,50'/></svg>");
}

body::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.grid-text_area::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--bg-color);
}

.grid-text_area::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 0.25rem;
}
